{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Create a New Post</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {{ form.title(class="form-control form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.text.label(class="form-control-label") }}
        {{ form.text(class="form-control form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.category.label(class="form-control-label") }}
        {{ form.category(class="form-control form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-block") }}
      </div>
    </form>
  </div>
{% endblock %}
