{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>VibrantVeggies</h1>
  <p>Welcome to VibrantVeggies—your go-to destination for fresh, flavorful, and creative recipes! Whether you're looking for a quick breakfast, a hearty lunch, a delicious dinner, or a refreshing drink, we've got you covered. Our blog is a community-driven space where food enthusiasts can explore and share their culinary creations. With easy-to-navigate categories and visually appealing posts, VibrantVeggies makes discovering new recipes a breeze. Join us in celebrating the art of cooking and bring vibrant flavors to your kitchen!</p>
  <img src="{{ url_for('static', filename='images/p1.png') }}" alt="Description of Image" style="width: 100%; height: auto;">
</div>

{% endblock %}